body{
    background-image:url(black-background.gif);
    background-repeat: no-repeat;
    background-size: 2000px;
    color:aquamarine;
}

.styling{
   width:30%;
   height: 40%;
   color: black;
   
}

button{
    background-color: aquamarine;
    color:black;
    width: 5%;
    height: 40px;
    border-radius:100px ;
}

#output{
    background-color: aquamarine;
    color:black;
    width: 900px;
    height: 250px;
    border-radius:50px ;
}